.right .icons.selected, .comment, .allmain, .contenent .col-md-4, .maincont, .full-view a {background-color: #eee;}
.right,
.greatings,
.pro .card,
.all .col-md-4, .commen, .maind, .les, .tagss, .setting_all, .leftcol, .rightcol {background-color: #fff;}
.right .icons,
.all .fa-hand-peace-o, .alls .control-label, .allmain a, .maincont a  {color: #1e88e5;}
.profile-settings span,
.profile-settings .fa-ellipsis-v,
.profile-settings .fa-bars,
.profile-settings .fa-moon-o:hover,
.all .h2,
.profile-settings .fa-flash,
.profile-settings .dropdown-menu a, .all p, .maind h2, .contenent .col-md-4 i, .number, .allmain h2, .allmain h3, .allmain p {color: navy;}
.profile-settings .fa-moon-o,
.all span,
.pro span,
.tagss p,
.pro .card-header {color: #989292;}
.all .form-control {background-color: #e1f5fe; border: 1px solid #98d0ea; color: navy;}
.profile-settings .dropdown-menu li:hover, .com h4  {background-color: #e1f5fe;}
.all .col-md-4 .shown {background-color: #e1f5fe;}
.all .col-md-4 .shown div {color: navy; border-right-color: #7f7fc1;}
.profile-settings span {border: 2px solid navy; color: navy}
.com h4, .text {color: #1e88e5;}
.com p, .les .lead {color: #7B7C86}
.com h3, .les h2, .commen h3 {color: #3a5dad}
.alls h3 {background-color: white;color: #3a5dad;}
.alls h1, .profile h1, .les h3, .add-comment label, .maincont span {color: navy}
.comment-box .lead {background-color: #e0e0e0;}
.comment-box .lead:before {border-color: transparent #e0e0e0 transparent transparent;}
.com .col-md-6 h2, .maind h3 {color: navy;font-weight: bold;} 
.maind p {color: #8d8e97;}
.contenentlist a {background-color: #1e88e5; color: #fff;}